/*.landscape div#contexts-page.ui-page {*/
#contexts-nav {
    max-width: 320px;
}
[data-page-type=context] {
  margin-left: 15px;
}
.ui-grid-a .ui-block-a  { width: 320px; }
.ui-grid-a .ui-block-b { width: -moz-calc( 100% - 335px); }