#logo {
  font-size: 150%;
}
nav { 
  float: left;
}
nav ul li {
  border: solid 1px #000;
  width: 300px;
  margin: 10px;
  padding: 5px;
  line-height: 1.5;
}

#display {
/*  border: solid 1px #000;*/
  width: 300px;
  margin: 10px 10px 10px 350px;
  padding: 5px;
  line-height: 1.5;
}
#display textarea {
  width: 98%;
}
/* Testing hack */
[data-role=page], [data-role=dialog], #contexts-page,  { xwidth: 600px; }

.na-delete.ui-btn-up-e {
    background: -moz-linear-gradient(center top, #ED7878, #efc5c5) repeat scroll 0 0 #d00000;
}
.ui-btn-hover-e {
    background-image: -moz-linear-gradient(top, 
							#DD7777, #eeaaaa);
}